{
  "extends": [
    "wesbos/typescript"
  ],
  "rules": {
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "warn",
    "import/no-extraneous-dependencies": "off"
  },
  "overrides": [
    {
      "files": [
        "./**/*.tsx"
      ],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off"
      }
    },
    {
      "files": [
        "./**/*.ts",
        "./**/*.tsx"
      ],
      "rules": {
        "@typescript-eslint/indent": "off"
      }
    }
  ],
  "ignorePatterns": [
    "/node_modules",
    "/.vercel",
    "/dist",
    "/static",
    "/storybook-static",
    "/.next",
    "/types/sanity-schema.d.ts"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "./"
        ]
      }
    }
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
