{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "import/no-unresolved": [
      2,
      {
        "ignore": [
          "^(all|part):"
        ]
      }
    ]
  },
  "ignorePatterns": [
    "/node_modules",
    "/dist"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "./"
        ]
      }
    }
  }
}